@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;
  color: #1e2939;
  background: #f9fafb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  background: #f9fafb;
}